<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Facilities.FactorySupport" publicKeyToken="407DD0808D44FBDC" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Transactions" publicKeyToken="407DD0808D44FBDC" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.2.207.2207" newVersion="3.2.207.2207"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Facilities.AutoTx" publicKeyToken="407DD0808D44FBDC" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.2.207.2207" newVersion="3.2.207.2207"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
