<?xml version="1.0" encoding="utf-8" ?>
<configuration  xmlns="MyWindsorSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <facilities>
    <facility id="factorysupport" type="Castle.Facilities.FactorySupport.FactorySupportFacility, Castle.Facilities.FactorySupport" />
    <facility id="logging" type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" loggingApi="log4net" 
              configFile="log4net.config" />
  </facilities>

  <components>
    <!--公共对象定义开始-->
    <component id="productRepository"
               service="MyFramework.Service.Abstract.Account.IProductRepository, MyFramework.Service"
               type="MyFramework.Service.Concrete.Account.ProductRepository, MyFramework.Service"></component>

    <!--
    <component id="dbFactory" type="MPTSBKW.DAL.DbUtil.DbCastleFactory, MPTSBKW.DAL" lifestyle="singleton" />
    <component id="dbMain" type="MPTSBKW.DAL.DbUtil.DbHelper, MPTSBKW.DAL" lifestyle="perwebrequest" 
                factoryId="dbFactory" factoryCreate="GetMainDb" />
    
    <component id="DbsInfoSon" service="MPTSBKW.Web.Base.IDbsInfoSon, MPTSBKW.Web" 
    type="MPTSBKW.Web.Base.DbsInfoSon, MPTSBKW.Web" lifestyle="perwebrequest">
      <parameters>
        DbsInfoSon
        <d1>${dbMain}</d1>
      </parameters>
    </component>

    <component id="dbInfos" type="MPTSBKW.Web.Base.DbsInfo, MPTSBKW.Web" lifestyle="perwebrequest">
      <parameters>
        DbsInfo
        <d1>${dbMain}</d1>
        <d2>${dbCorp}</d2>
        <d3>${dbReport}</d3>
        <son>${DbsInfoSon}</son>
      </parameters>
    </component>
    
    
    
    Reference: http://docs.castleproject.org/Windsor.XML-Registration-Reference.ashx
    
    <configuration>
    <using assembly="Acme.Crm.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=1987352536523" />

    <include uri="file://Configurations/services.xml" />
    <include uri="assembly://Acme.Crm.Data/Configuration/DataConfiguration.xml" />

    <installers>
      <install type="Acme.Crm.Infrastructure.ServicesInstaller, Acme.Crm.Infrastructure"/>
      <install assembly="Acme.Crm.Infrastructure"/>
    </installers>

    <properties>
      <connection_string>value here</connection_string>
    </properties>

    <facilities>
      <facility id="uniqueId" type="Acme.Common.Windsor.AcmeFacility, Acme.Common" />
    </facilities>

    <components>
      <component
        id="uniqueId"
        service="Acme.Crm.Services.INotificationService, Acme.Crm"
        type="Acme.Crm.Services.EmailNotificationService, Acme.Crm"
        inspectionBehavior="all|declaredonly|none"
        lifestyle="singleton|thread|transient|pooled|custom|perwebrequest"
        customLifestyleType="type that implements ILifestyleManager"
        componentActivatorType="type that implements IComponentActivator"
        initialPoolSize="2" maxPoolSize="6">

        <forwardedTypes>
          <add service="Acme.Crm.Services.IEmailSender, Acme.Crm" />
        </forwardedTypes>

        <additionalInterfaces>
          <add interface="Acme.Crm.Services.IMetadataService, Acme.Crm" />
        </additionalInterfaces>

        <parameters>
          <paramtername>value</paramtername>
          <otherparameter>#{connection_string}</otherparameter>
        </parameters>

        <interceptors selector="${interceptorsSelector.id}" hook="${generationHook.id}">
          <interceptor>${interceptor.id}</interceptor>
        </interceptors>

        <mixins>
          <mixin>${mixin.id}</mixin>
        </mixins>

      </component>
    </components>
  </configuration>
    -->

  </components>

</configuration>