@import (less) 'base.less.css';

//@import '/Less/base.less.css';

//@brand_color:yellow;

.strong
{
    color:@brand_color;
}

//@brand_color: #4D926F;
/*
@brand_color: red;

#header {
  color: @brand_color;
}

h2 {
  color: @brand_color;
}
*/